/* home page css */

h1{
    text-decoration: underline;
    color: green;
    text-shadow: gray 2px 2px;
    text-align: center;
}
#design,#development,#product{
  position: relative;
}

  #design-p,#development-p,#product-p{
  
    display: none;
  
      }

*{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
  }
.form-row{
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #0f8494;
  padding: left 80px; ;

  float: inline-end;
  margin-right: 250px;
  margin-left: 250px;
  }
  h3{
    margin-left: 700px;
     color: rgb(155, 232, 238);
  }
nav{
  display: inline-block;
}

  /* // form css */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #08ebf3;
    color: rgb(12, 1, 1);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: hand;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  input[type=reset] {
    background-color: #08ebf3;
    color: rgb(12, 1, 1);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: progress;
    float: right;
  }
    input[type=reset]:hover {
    background-color: #f33c04;
    }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
    .row:after {
    content: "";
    display: table;
    clear: both;
  }
    @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }  
nav{
   margin-left: 1200px;
  margin-right:300px ;
}
#adsressbook {
  width:300px;
}
#adsressbook td, th {
  border:1px solid #000;
  padding:5px 10px;
}
#blink{
  font-weight: bold ;
  color: green;
  text-transform: uppercase;
  font-size: 20px;
}
.opt4{
  background-color: rgb(5, 200, 226);
  text-decoration: underline;
  font-weight: bold;
  font-size: large;

}






     